@media screen and (max-width: 1000px) {
    .media-query1 {
        color: hotpink;
    }
}

@media screen and (max-width: 600px) {
    .media-query2 {
        background-color: greenyellow;
        color: hotpink;
    }
}


.header-style {
    font-family: "Raleway";
    font-weight: bold;
}

/* Added definition to the form from the background. */
.form-style {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.paragraph-style {
    font-family: "Assistant";
    padding: 0 20px;
}

.body-style {
    padding-top: 5rem;
}

.starter-template {
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.section-odd {
    position: sticky;
    top: 0;
    background-color: gray;
    margin: 0;
    width: 100vw;
    height: 300px;
    padding: 0;

}

.projects-section {
    height: auto;
}

/* Reusing this from the resume.html file 10/6/2024
Makes the form stand out from the background */
.section-even {
    position: sticky;
    top: 0;
    background-color: lightgrey;
    width: 100vw;
    height: 300px;
    margin: 0;
    padding: 20px;
}

/* 9/9/2024 added padding for name under the nav bar */
.name-padding {
    padding: 30px 0px;
}

/* added padding for the nav bar */
.nav-padding {
    padding: 20px 2% 0px 10px;
}

.gradient-background {
    background: linear-gradient(270deg, #6EACDA, #03346E, #021526);
    background-size: 200% 200%;
    animation: gradient-animation 18s ease infinite;
}

.general-padding {
    padding: 30px;
}

a {
    text-decoration: none;
}

.skills-header {
    padding: 75px 20px 10px 10px;
}

/* .skills-title {} */

.skills-image {
    width: 900px;
    height: 600px;

}

.skills-card {
    width: 18rem;
    background: linear-gradient(270deg, #6EACDA, #03346E, #021526);
    background-size: 200% 200%;
    animation: gradient-animation 18s ease infinite;
    color: white;
    margin: 10px 3%;
    border-color: #03346E;
    border-width: 3px;
    border-radius: 30px;
}

.img-width {
    max-width: 100%;
    border-radius: 35px;
}

.img-resume {
    top: 0;
    position: sticky;
    width: 500px;
    height: 500px;
}

/* Carousel margin */

.carousel-margin {
    margin-top: 100px;
}

/* Rounded the button 10/6/2024 */
.button-change {
    background-color: gray;
    border-radius: 30px;
}

/* Changed button hover. Its pink. Everything else was boring and gray. 10/6/2024 */
.button-change:hover {
    background-color: hotpink;
}

/* Added hover effect to show where the user is on the page 10/6/2024 */
input:hover {
    transform: scale(1.05);
    border-color: gray;
    box-shadow: 0px 0px 8px rgba(0, 123, 255, 0.5);
    transition: transform 0.2s ease, border-color 0.2s ease, box-shadow 0.2s ease;
}

figcaption {
    font-size: xx-small;
}

/* carousel image settings */
.img-carousel {
    max-height: 100%;
    max-width: 100%;
}

.carousel-item {
    height: 500px;
}

.carousel-indicators {
    bottom: 20px;
}

footer {
    margin-top: 250px;
}